h1{
    color: rgb(245, 167, 167);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
}
.prrfo1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(250, 236, 249);
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}