.parr1{
    background-color:rgb(244, 247, 211);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center; 
}

h2{
color: rgb(255, 0, 0);
margin-left: auto;
margin-right: auto;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align:center;
}