.contenedor{
    background-color:aquamarine;
    font-size: 50px;
    font-family: cursive;
    border: 10px solid black;
    -webkit-box-shadow: -37px 11px 33px 7px rgba(0,0,0,0.44); 
box-shadow: -37px 11px 33px 7px rgba(0,0,0,0.44);
}
.lol{
    margin: 50px;
    background-color:rgb(120, 169, 233);
    font-size: 50px;
    font-family: cursive;
    border: 10px solid rgb(0, 0, 0);
    -webkit-box-shadow: -37px 30px 33px 37px rgba(0,0,0,0.42); 
    box-shadow: -37px 30px 33px 37px rgba(0,0,0,0.42);

}