.parr1{
    font-family: tahoma;
    margin-left: auto;
margin-right: auto;
background-color: rgb(245, 216, 216);
text-align:center;
}

.parr2{
    font-family: tahoma;
    margin-left: auto;
margin-right: auto;
background-color: rgb(245, 216, 216);
text-align:center;
}
