h1{
    color: rgb(8, 100, 15);
    text-align:center;
}
.tabl1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(238, 250, 236);
    text-align:center;
}